{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<!--
Template Name: Miresa
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <meta charset="latin1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{asset('style/layout.css')}}" rel="stylesheet" type="text/css" media="all">
    <!--code correspondant au lien pour le questionnaire -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}

</head>
<body id="top">

<!-- Top Background Image Wrapper -->
<div class="bgded overlay light"> 
  
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      
       <ul class="nospace">
        <li><a href="{{path('app_homepage')}}"><i class="fa fa-lg fa-home"></i></a></li>
        

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li><a href="{{path('fos_user_security_logout')}}" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i></a></li>
        {% else %}
          <li><a href="{{path('fos_user_security_login')}}" title="Se connecter"><i class="fas fa-sign-in-alt"></i></a></li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
          <li><a href="{{path('app_administration')}}" title="Page Admin"><i class="fas fa-cogs"></i></a></li>
        {% endif %}

        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li><a href="{{path('fos_user_registration_register')}}" title="S'inscrire"><i class="fas fa-user-plus"></i></a></li>
        {% endif %}
      </ul>
      
    </div>
  </div>
 
  <!--**************************Partie navigation********************** -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      
      <div id="logo" class="fl_left">
        <h1><a href="{{path('app_homepage')}}">Star Wars Initiation</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li {% if app.request.get('_route') == "app_homepage" %}class="active"{% endif %}> <a href="{{path('app_homepage')}}">Home</a></li>
          <li {% if app.request.get('_route') == "app_personnages" %}class="active"{% endif %}> <a class="drop" href="{{path('app_personnages')}}">Personnages</a>
            <ul>
              <li {% if app.request.get('_route') == "app_jedi" %}class="active"{% endif %}><a href="{{path('app_jedi')}}">Jedi / Alliance Rebelle</a></li>
              <li {% if app.request.get('_route') == "app_sith" %}class="active"{% endif %}><a href="{{path('app_sith')}}">Sith</a></li>
              <li {% if app.request.get('_route') == "app_autres" %}class="active"{% endif %}><a href="{{path('app_autres')}}">Autres catégories</a></li>
            </ul>
          </li>
          <li {% if app.request.get('_route') == "app_planetes" %}class="active"{% endif %}><a href="{{path('app_planetes')}}">Planètes</a> <!--Pas besoin de class: 'drop' comme avant vu que pas besoin de sous catégorie -->
          </li>
          <li {% if app.request.get('_route') == "app_films" %}class="active"{% endif %}><a class="drop" href="{{path('app_films')}}">Films</a>
            <ul>
              <li {% if app.request.get('_route') == "app_trilogie_originale" %}class="active"{% endif %}><a href="{{path('app_trilogie_originale')}}">Trilogie originale</a></li>
              <li {% if app.request.get('_route') == "app_prelogie" %}class="active"{% endif %}><a href="{{path('app_prelogie')}}">Prélogie</a></li>
              <li {% if app.request.get('_route') == "app_troisieme_trilogie" %}class="active"{% endif %}><a href="{{path('app_troisieme_trilogie')}}">Troisième trilogie</a></li>
              <li {% if app.request.get('_route') == "app_films_derives" %}class="active"{% endif %}><a href="{{path('app_films_derives')}}">Films dérivés</a></li>
            </ul>
        </li>
            
          <li {% if app.request.get('_route') == "app_questionnaire" %}class="active"{% endif %}><a href="{{path('app_questionnaire')}}">Questionnaire</a></li>
        </ul>
      </nav>
      
    </header>
  </div>

  {% block subnav %}
  {% endblock %}

</div>
       

{% block body %}
{% endblock %}


<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Fanny Denooz</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    
  </div>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{{asset('JS/jquery.min.js')}}"></script>
<script src="{{asset('JS/jquery.backtotop.js')}}"></script>
<script src="{{asset('JS/jquery.mobilemenu.js')}}"></script>
</body>
</html>