@charset "utf-8";
/*
Template Name: Miresa
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("font-awesome.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0,
.row0 a {}

.row1,
.row1 a {}

.row2,
.row2 a {}

.row3,
.row3 a {}

.row4,
.row4 a {}

.row5,
.row5 a {}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar {
    padding: 15px 0;
    font-size: .8rem;
    text-transform: uppercase;
}

#topbar * {
    margin: 0;
}

#topbar ul {
    float: right;
}

#topbar ul li {
    display: inline-block;
    margin-right: 15px;
}

#topbar ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

#topbar i {
    line-height: normal;
}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header {}

#header #logo {
    margin: 30px 0 0 0;
}

#header #logo h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-transform: uppercase;
    color: #fcc200;
}

/*Page admin*/

.button-admin:hover{
    text-transform: uppercase;
    border:1px solid #000000;
    border-radius: 2px;
   padding: 10px;

}

.button-admin {

    padding-right: 20px;
    text-decoration: underline;
}



/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro {
    padding: 180px 0;
}

#pageintro article {
    display: block;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}

#pageintro .heading {
    margin-bottom: 20px;
    font-size: 3rem;
}

#pageintro p:first-of-type {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 5px;
}

#pageintro footer {
    margin-top: 50px;
}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
#searchdiv
{
    position: relative;
    top: -25px;
    margin-bottom: 25px;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-color: grey !important;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    min-width: auto !important;
    border-radius: 0 !important;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.image-subtitle{
    text-align: center;
    margin-top: 10px;
}

/*error message*/
.alert{
    color: #990000;
    background: #ff9999;
    padding: 20px 0 20px 10px;
    border-radius: 3px;
    border: solid 1px #990000;
    width: 40%;
    min-width: 150px;

}

.alert-notice, .alert-success{
    color: #006633;
    background: #9fdfbf;
    padding: 20px 0 20px 10px;
    border-radius: 3px;
    border: solid 1px #00994d;
    width: 40%;
    min-width: 150px;
}

.container {
    padding: 80px 0;
}

/* Content */
#formdiv input{
    max-width: 22em !important;
}

#formdiv textarea{
    max-width: 40em !important;
    height: 8em !important;
}

#form_subcategory{
    margin-left: 5em;
}


.container .content {}

.sectiontitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
}

.sectiontitle * {
    margin: 0;
}

.services {
    margin-bottom: 80px;
}

.services > li > ul li {
    margin-bottom: 10px;
}

.services > li:last-child,
.services > li > ul li:last-child {
    margin-bottom: 0;
}

/* Used when elements stack in smaller viewports */
.services > li > ul li i {
    margin-right: 8px;
}

.clients {}

.clients li:last-child {
    margin-bottom: 0;
}

/* Used when elements stack in small viewports */
.clients li a {
    display: inline-block;
    max-width: 100%;
}

.meta li {
    display: inline-block;
    font-size: .8rem;
}

.meta li::after {
    margin-left: 5px;
    content: "|";
}

.meta li:last-child::after {
    margin: 0;
    content: "";
}

.team {
    margin-bottom: 80px;
}

.team figure {
    display: block;
    position: relative;
    max-width: 320px;
}

.team > figure:last-child {
    margin-bottom: 0;
}

/* Used when elements stack in smaller viewports */
.team figure figcaption {
    padding-top: 15px;
    text-align: center;
}

.team figure figcaption * {
    margin: 0;
}

.team figure figcaption .heading {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.team figure figcaption em {
    display: block;
    font-size: .8rem;
    font-style: normal;
}

.team figure figcaption footer {
    margin-top: 15px;
}

.team figure figcaption footer .faico li {
    margin: 0 1px;
}

.team figure figcaption footer .faico li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.latest {
    margin-bottom: 80px;
}

.latest article {
    max-width: 320px;
}

.latest > article:last-child {
    margin-bottom: 0;
}

.margin{
    margin: 10px;
}

/* Used when elements stack in smaller viewports */

/* Comments */
#comments ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
}

#comments li {
    margin: 0 0 10px 0;
    padding: 15px;
}

#comments .avatar {
    float: right;
    margin: 0 0 10px 10px;
    padding: 3px;
    border: 1px solid;
}

#comments address {
    font-weight: bold;
}

#comments time {
    font-size: smaller;
}

#comments .comcont {
    display: block;
    margin: 0;
    padding: 0;
}

#comments .comcont p {
    margin: 10px 5px 10px 0;
    padding: 0;
}

#comments form {
    display: block;
    width: 100%;
}

#comments input,
#comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid;
}

#comments textarea {
    overflow: auto;
}

#comments div {
    margin-bottom: 15px;
}

#comments input[type="submit"],
#comments input[type="reset"] {
    display: inline-block;
    width: auto;
    min-width: 150px;
    margin: 0;
    padding: 8px 5px;
    cursor: pointer;
}

/* Sidebar */
.container .sidebar {}

.sidebar .sdb_holder {
    margin-bottom: 50px;
}

.sidebar .sdb_holder:last-child {
    margin-bottom: 0;
}


/* Click to Action
--------------------------------------------------------------------------------------------------------------- */
.cta {
    padding: 80px 0;
    text-align: center;
}

.cta .sectiontitle {
    margin-bottom: 50px;
}

.cta form {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
}

.cta input {
    width: 100%;
    padding: 8px;
    border: 1px solid;
}

.cta button {
    display: inline-block;
    padding: 8px 18px 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer {
    padding: 80px 0;
}

#footer .heading {
    margin-bottom: 50px;
    font-size: 1.2rem;
}

#footer .linklist li {
    display: block;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid;
}

#footer .linklist li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

#footer .linklist li::before,
#footer .linklist li::after {
    display: table;
    content: "";
}

#footer .linklist li,
#footer .linklist li::after {
    clear: both;
}

#footer .contact {}

#footer .contact.linklist li,
#footer .contact.linklist li:last-child {
    position: relative;
    padding-left: 40px;
}

#footer .contact li * {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#footer .contact li i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    font-size: 16px;
    text-align: center;
}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright {
    padding: 20px 0;
}

#copyright * {
    margin: 0;
    padding: 0;
}


/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */
*,
*::before,
*::after {
    transition: all .3s ease-in-out;
}

#mainav form * {
    transition: none !important;
}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainav,
#breadcrumb,
.sidebar nav {
    line-height: normal;
}

#mainav .drop::after,
#mainav li li .drop::after,
#breadcrumb li a::after,
.sidebar nav a::after {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 10px;
    line-height: 10px;
}

/* Top Navigation */
#mainav {}

#mainav ul {
    text-transform: uppercase;
}

#mainav ul ul {
    z-index: 9999;
    position: absolute;
    width: 180px;
    text-transform: none;
}

#mainav ul ul ul {
    left: 180px;
    top: 0;
}

#mainav li {
    display: inline-block;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0;
}

#mainav li:last-child {
    margin-right: 0;
}

#mainav li li {
    width: 100%;
    margin: 0;
}

#mainav li a {
    display: block;
    padding: 30px 0;
}

#mainav li li a {
    border: solid;
    border-width: 0 0 1px 0;
}

#mainav .drop {
    padding-left: 15px;
}

#mainav li li a,
#mainav li li .drop {
    display: block;
    margin: 0;
    padding: 10px 15px;
}

#mainav .drop::after,
#mainav li li .drop::after {
    content: "\f0d7";
}

#mainav .drop::after {
    top: 35px;
    left: 5px;
}

#mainav li li .drop::after {
    top: 15px;
    left: 5px;
}

#mainav ul ul {
    visibility: hidden;
    opacity: 0;
}

#mainav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

#mainav form {
    display: none;
    margin: 0;
    padding: 0;
}

#mainav form select,
#mainav form select option {
    display: block;
    cursor: pointer;
    outline: none;
}

#mainav form select {
    width: 100%;
    padding: 5px;
    border: 1px solid;
}

#mainav form select option {
    margin: 5px;
    padding: 0;
    border: none;
}

/* Breadcrumb */
#breadcrumb {
    padding: 120px 0 30px;
}

#breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

#breadcrumb li {
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0;
}

#breadcrumb li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 12px 0 0;
    font-size: 12px;
}

#breadcrumb li a::after {
    top: 3px;
    right: 0;
    content: "\f101";
}

#breadcrumb li:last-child a {
    margin: 0;
    padding: 0;
}

#breadcrumb li:last-child a::after {
    display: none;
}

#breadcrumb .heading {
    margin: 0;
    font-size: 1.6rem;
}

/* Sidebar Navigation */
.sidebar nav {
    display: block;
    width: 100%;
}

.sidebar nav li {
    margin: 0 0 3px 0;
    padding: 0;
}

.sidebar nav a {
    display: block;
    position: relative;
    margin: 0;
    padding: 5px 10px 5px 15px;
    text-decoration: none;
    border: solid;
    border-width: 0 0 1px 0;
}

.sidebar nav a::after {
    top: 9px;
    left: 5px;
    content: "\f101";
}

.sidebar nav ul ul a {
    padding-left: 35px;
}

.sidebar nav ul ul a::after {
    left: 25px;
}

.sidebar nav ul ul ul a {
    padding-left: 55px;
}

.sidebar nav ul ul ul a::after {
    left: 45px;
}

/* Pagination */
.pagination {
    display: block;
    width: 100%;
    text-align: center;
    clear: both;
}

.pagination li {
    display: inline-block;
    margin: 0 2px 0 0;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination a,
.pagination strong {
    display: block;
    padding: 8px 11px;
    border: 1px solid;
    background-clip: padding-box;
    font-weight: normal;
}

/* Back to Top */
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: .2;
}

#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}

#backtotop.visible {
    visibility: visible;
    opacity: .5;
}

#backtotop:hover {
    opacity: 1;
}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
}

table,
th {
    table-layout: auto;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

th,
td {
    padding: 5px 8px;
}

td {
    border-width: 0 1px;
}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

#gallery figure figcaption {
    display: block;
    width: 100%;
    clear: both;
}

#gallery li {
    margin-bottom: 30px;
}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico {
    margin: 0;
    padding: 0;
    list-style: none;
}

.faico li {
    display: inline-block;
    margin: 8px 5px 0 0;
    padding: 0;
    line-height: normal;
}

.faico li:last-child {
    margin-right: 0;
}

.faico a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
}

.faico a {
    color: #FFFFFF;
    background-color: #000000;
}

.faico a:hover {}

.faicon-dribble:hover {
    background-color: #EA4C89;
}

.faicon-facebook:hover {
    background-color: #3B5998;
}

.faicon-google-plus:hover {
    background-color: #DB4A39;
}

.faicon-linkedin:hover {
    background-color: #0E76A8;
}

.faicon-twitter:hover {
    background-color: #00ACEE;
}

.faicon-vk:hover {
    background-color: #4E658E;
}

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body {
    color: #7A7A7A;
    background-color: #FFFFFF;
}

a {
    color: #FCC200;
}

a:active,
a:focus {
    background: transparent;
}


hr,
.borderedbox {
    border-color: #D7D7D7;
}

label span {
    color: #FF0000;
    background-color: inherit;
}

input:focus,
textarea:focus,
*:required:focus {
    border-color: #FCC200;
}

.overlay {
    color: #FFFFFF;
    background-color: inherit;
    background-image:url('../images/galaxie.jpg');
}

.overlay::after {
    color: inherit;
    background-color: rgba(0, 0, 0, .8);
}

.overlay.light::after {
    background-color: rgba(0, 0, 0, .55);
}

/*
.btn,
.btn.inverse:hover {
    color: #FFFFFF;
    background-color: #FCC200;
    border-color: #FCC200;
}

.btn:hover,
.btn.inverse {
    color: inherit;
    background-color: transparent;
    border-color: inherit;
}*/

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-danger:hover {
    color: #fff;
    background-color: #b30000 !important;
    border-color: #990000;
}

.btn-danger {
    color: #fff;
    background-color: #e60000 !important;
    border-color: #cc0000;
}

.btn-default:hover {
    color: #fff;
    background-color: #5a6268 !important;
    border-color: #545b62;
}

.btn-default {
    color: #fff;
    background-color: #929aa0 !important;
    border-color: #848d94;
}

button[type='submit']{
    color: #fbfbfb;
    background-color: #4d88ff;
    border-color: #004de6;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    width: auto;
    min-width: 150px;
    margin: 0;
    padding: 8px 5px;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button[type='submit']:focus, input[type='checkbox']:focus, .btn-default:focus, .btn-danger:focus {
    border-color: #FCC200;
}

#comments input[type='checkbox']
{
    position: relative;
    top:20px;
    left:30px;
}


.imgover:hover::before {
    background: rgba(0, 0, 0, .55);
}

.imgover,
.imgover:hover::after {
    color: #FFFFFF;
}


/* Rows */
.row0,
.row0 a {
    color: #FFFFFF;
}

.row1 {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .2);
}

.row2 {
    color: #FFFFFF;
    background-color: #222222;
}

.row3 {
    color: #7A7A7A;
    background-color: #FFFFFF;
}

.row4 {
    color: #7A7A7A;
    background-color: #F7F7F7;
}

.row5,
.row5 a {
    color: #7A7A7A;
    background-color: #FFFFFF;
}

.row3 .heading,
.row4 .heading {
   color: #fcc200;
}



/* Top Bar */
#topbar ul li:first-child a {
    color: #FCC200;
}


/* Header */
#header #logo a {
    color: inherit;
}


/* Page Intro */
#pageintro {
    color: #FFFFFF;
}

#pageintro p{
    color: #26bcd1;
}


/* Content Area */
.services a,
.services > li > ul li:hover i {
    color: #FFFFFF;
}

.services a:hover,
.services > li > ul li i {
    color: #FCC200;
}


/* Click to Action */
.cta input {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .2);
}

.cta:hover input {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 1);
}

.cta input:focus {
    border-color: #FCC200;
}

.cta button {
    color: #FFFFFF;
    background-color: #FCC200;
}

/* The following was requested from one of our users, it's the so-called "must have" cross-browser placeholder text colouring:
if your not worried about it, simply delete it, as the placeholder will take on the default preset colour, but it will be rendered differently in each browser */
.cta input[type="text"][placeholder] {
    color: #FFFFFF;
}

/* W3C */
.cta ::-webkit-input-placeholder {
    color: #FFFFFF;
}

/* Chrome */
.cta :-ms-input-placeholder {
    color: #FFFFFF;
}

/* IE 10+ */
.cta ::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

/* FF 19+ */
.cta :-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

/* FF -19 */


/* Footer */
#footer hr,
#footer .borderedbox,
#footer .linklist li {
    border-color: rgba(0, 0, 0, .1);
}


/* Navigation */
#mainav li a {
    color: inherit;
}

#mainav .active a,
#mainav a:hover,
#mainav li:hover > a {
    color: #fcc200;
    background-color: inherit;
}

#mainav li li a,
#mainav .active li a {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .2);
    border-color: rgba(0, 0, 0, .2);
}

#mainav li li:hover > a,
#mainav .active .active > a {
    color: #FFFFFF;
    background-color: #fcc200;
}

#mainav form select {
    color: #FFFFFF;
    background-color: #000000;
}

#breadcrumb a {
    color: inherit;
    background-color: inherit;
}

#breadcrumb li:last-child a {
    color: #fcc200;
}

.container .sidebar nav a {
    color: inherit;
    border-color: #D7D7D7;
}

.container .sidebar nav a:hover {
    color: #fcc200;
}

.pagination a,
.pagination strong {
    border-color: #D7D7D7;
}

.pagination .current * {
    color: #FFFFFF;
    background-color: #FCC200;
}

#backtotop {
    color: #FFFFFF;
    background-color: #FCC200;
}


/* Tables + Comments */
table,
th,
td,
#comments .avatar,
#comments input,
#comments textarea {
    border-color: #D7D7D7;
}

#comments input:focus,
#comments textarea:focus,
#comments *:required:focus {
    border-color: #FCC200;
}

th {
    color: #FFFFFF;
    background-color: #373737;
}

tr,
#comments li,
#comments input[type="submit"],
#comments input[type="reset"] {
    color: inherit;
    background-color: #FBFBFB;
}

tr:nth-child(even),
#comments li:nth-child(even) {
    color: inherit;
    background-color: #F7F7F7;
}

table a,
#comments a {
    background-color: inherit;
}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
    width: device-width;
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
    .hoc {
        max-width: 978px;
    }
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px) {
    .hoc {
        max-width: 90%;
    }

    #topbar {}

    #header {
        padding: 30px 0;
    }

    #header #logo {
        margin-top: 3px;
    }

    #mainav {}

    #mainav ul {
        display: none;
    }

    #mainav form {
        display: block;
    }

    #breadcrumb {}

    .container {}

    #comments input[type="reset"] {
        margin-top: 10px;
    }

    .pagination li {
        display: inline-block;
        margin: 0 5px 5px 0;
    }

    #footer {}

    #copyright {}

    #copyright p:first-of-type {
        margin-bottom: 10px;
    }
}


@media screen and (max-width:750px) {

    .imgl,
    .imgr {
        display: inline-block;
        float: none;
        margin: 0 0 10px 0;
    }

    .fl_left,
    .fl_right {
        display: block;
        float: none;
    }

    .group .group > *:last-child,
    .clear .clear > *:last-child,
    .clear .group > *:last-child,
    .group .clear > *:last-child {
        margin-bottom: 0;
    }

    /* Experimental - Needs more testing in different situations, stops double margin when stacking */
    .one_half,
    .one_third,
    .two_third,
    .one_quarter,
    .two_quarter,
    .three_quarter {
        display: block;
        float: none;
        width: auto;
        margin: 0 0 30px 0;
        padding: 0;
    }
    

    #header {
        text-align: center;
    }

    #header #logo {
        margin: 0 0 15px 0;
    }

    #pageintro article {
        max-width: none;
        text-align: left;
    }

    #pageintro .heading {
        font-size: 2rem;
    }

    .sectiontitle {
        max-width: none;
        color: #fcc200;
        
    }
    
    .services + footer {
        text-align: left;
    }

    .cta > :first-child {
        margin-top: 0;
    }
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
    .scrollable {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0 0 15px 0;
        overflow: auto;
        overflow-x: scroll;
    }

    .scrollable table {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    .inline li {
        display: block;
        margin-bottom: 10px;
    }

    .pushright li {
        margin-right: 0;
    }

    .font-x2 {
        font-size: 1.4rem;
    }

    .font-x3 {
        font-size: 1.6rem;
    }
}
