{% extends "@App/layout.html.twig" %}

{% block body %}

    <div class="margin">
        <div id="comments">
            <br>
            <br>

            {% if app.request.get('_route') == "fos_user_security_login" %}
                <h2>Veuillez vous connecter, ou <a href="{{path('fos_user_registration_register')}}">Vous inscrire</a></h2>
            {% else %}
                <h2>Inscription</h2>
            {% endif %}

            {# On affiche les messages flash que définissent les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
                {% endfor %}
            {% endfor %}
            <div class="one_third first">
                {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

            {% if app.request.get('_route') == "fos_user_security_login" %}
                <div class="clear"></div>
                <a href="{{path('fos_user_resetting_request')}}">Mot de passe oublié?</a>
            {% endif %}
            
        </div>
    </div>

{% endblock %}