{% extends "@App/layout.html.twig" %}

{% block title %}
  Se loger - Star Wars Experience
{% endblock %}

{% block body_content %}
        <!--Code html pour le formulaire pour que l'utilisateur se connecte pour accéder au quizz -->
        <div class="margin">
            <div id="comments">
                <br>
                <br>
                <h2>Veuillez vous connecter, ou <a href="{{path('app_signup')}}">Vous inscrire</a></h2>

                {% if error %}
                    <div class="alert">{{ error.message }}</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <div class="one_third first">
                        <label for="email">Entrez votre adresse mail <span>*</span></label>
                        <input type="email" name="_username" id="username" value="{{ last_username }}" size="22" required>
                    </div>
                    <div class="clear"></div>
                    <div class="one_third first">
                        <label for="password">Entrez votre mot de passe <span>*</span></label>
                        <input type="password" name="_password" id="password" value="" size="22" required>
                    </div>
                    <div class="clear"></div>

                    <div>
                        <input type="submit" name="submit" value="Connexion">
                        &nbsp;
                    </div>
                </form>

            </div>
        </div>
    </body>
    </html>
{% endblock %}