{% extends "@App/layout.html.twig" %}

{% block title %}
  Admin - Star Wars Experience
{% endblock %}

{% block body_content %}
    <!--Code html pour s'inscrire -->
    <div class="margin">
        <div id="comments">
            <br>
            <br>
            <h2><a>Page d'administration</a></h2>

            {% for label, messages in app.flashes(['warning', 'error', 'notice']) %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div id="formdiv">
                {{ form(form) }}
            </div>

        </div>
    </div>
{% endblock %}
    
    
    
    
    