{% extends "@App/layout.html.twig" %}

{% block title %}
  Admin - Star Wars Experience
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body_content %}
    <!--Code html pour s'inscrire -->
    <div class="margin">
        <div id="comments">
            <br>
            <br>
            <h2><a>Page d'administration</a></h2>

            {% for label, messages in app.flashes(['warning', 'error', 'notice']) %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div id="formdiv">

              
              {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                {# Génération du label + error + widget pour un champ. #}
                {{ form_row(form.intitulequestion) }}
                {{ form_row(form.thematique) }}
                {{ form_row(form.intitulequestion) }}

                <h3>
                  {{ form_label(form.reponses, "Réponses :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                </h3>

                <div id="form_subcategory">
                  {{ form_errors(form.reponses) }}
                  {{ form_widget(form.reponses, {'attr': {'class': 'form-control'}}) }}
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" id="add_reponse" class="btn btn-default">Ajouter une réponse</a>

                <br><br>

                {{ form_row(form.save) }}

                {{ form_rest(form) }}

              {{ form_end(form) }}
   
                
            </div> 

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            
            <script type="text/javascript">
                $(document).ready(function() {
                  // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
                  var $container = $('div#appbundle_questions_reponses');
                
                var index = $container.find(':input').length;
            
                // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
                $('#add_reponse').click(function(e) {
                  addReponse($container);
            
                  e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                  return false;
                });
            
                // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
                if (index == 0) {
                  addReponse($container);
                } else {
                  // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                  $container.children('div').each(function() {
                    addDeleteLink($(this));
                  });
                }
            
                // La fonction qui ajoute un formulaire CategoryType
                function addReponse($container) {
                  // Dans le contenu de l'attribut « data-prototype », on remplace :
                  // - le texte "__name__label__" qu'il contient par le label du champ
                  // - le texte "__name__" qu'il contient par le numéro du champ
                  var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Réponse n°' + (index+1))
                    .replace(/__name__/g,        index)
                  ;
            
                  // On crée un objet jquery qui contient ce template
                  var $prototype = $(template);
            
                  // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                  addDeleteLink($prototype);
            
                  // On ajoute le prototype modifié à la fin de la balise <div>
                  $container.append($prototype);
            
                  // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                  index++;
                }
            
                // La fonction qui ajoute un lien de suppression d'une catégorie
                function addDeleteLink($prototype) {
                  // Création du lien
                  var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
            
                  // Ajout du lien
                  $prototype.append($deleteLink);
            
                  // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                  $deleteLink.click(function(e) {
                    $prototype.remove();
            
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                  });
                }
              });
            </script>
        </div>
    </div>
{% endblock %}





    
    
    
    
    