{% extends "@App/layout.html.twig" %}

{% block title %}
  Admin - Star Wars Experience
{% endblock %}

{% block body_content %}
    <!--Code html pour s'inscrire -->
    <div class="margin">
        <div id="comments">
            <br>
            <br>
            <h2><a>Page d'administration - {{type}}</a></h2>

            {% for label, messages in app.flashes(['warning', 'error', 'notice']) %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <form method="POST" style="display: inline-block;">
                    <input type="hidden" name="type" value="{{type}}">
                    <input type="submit" name="adminaction" value="Ajouter">
            </form>
            <hr><hr>
            <br><br>
            

            {% for element in elements %}
                <div class="">
                    {{element.__toString()}}
                    <form method="POST" style="display: inline-block;">
                            <input type="hidden" name="id" value="{{element.getId()}}">
                            <input type="hidden" name="type" value="{{type}}">
                            <input type="submit" name="adminaction" value="Supprimer">
                            <input type="submit" name="adminaction" value="Modifier">
                    </form>
                    <hr>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
    
    
    
    
    