{% extends "@App/layout.html.twig" %}

{% block title %}
  Admin - Star Wars Experience
{% endblock %}

{% block body_content %}
    <!--Code html pour s'inscrire -->
    <div class="margin">
        <div id="comments">
            <br>
            <br>
            <h2><a>Page d'administration</a></h2>
            <a class="button-admin" href="{{path('app_adminPersonnages')}}">Personnages</a>
            <a class="button-admin" href="{{path('app_adminFilms')}}">Films</a>
            <a class="button-admin" href="{{path('app_adminPlanetes')}}">Planètes</a>
            <a class="button-admin" href="{{path('app_adminQuestionnaire')}}">Questionnaire</a>

        </div>
    </div>
{% endblock %}
    
    
    
    
    