{% extends "@App/layout.html.twig" %}

{% block title %}
  films - Star Wars Experience
{% endblock %}

{% block subnav %}
  <div id="breadcrumb" class="hoc clear"> 
   
    <ul> <!--Pour savoir où on est sur la page -->
      <li><a href="{{path('app_films')}}">Catégorie de films</a></li>
      <li><a href="#">Choisis ta catégorie: Trilogie originale, prélogie, troisième trilogie, films dérivés.</a></li>
    </ul>
    
  </div>
{% endblock %}

{% block body_content %}
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      
      <div class="content"> 
        
        <div id="gallery"> <!--Mettre les 3 photos : une jedi, une sith, une pour la catégorie autre avec les liens qui vont vers les différentes catégories -->
          <figure>
            <header class="heading">Naviger dans les différentes catégories</header>
            <ul class="nospace clear">
              <li class="one_quarter first"><a href="{{path('app_trilogie_originale')}}"><img src="{{asset(TrilogieOriginale)}}" alt="Trilogie Originale"></a><h1 class="image-subtitle">Trilogie Originale</h1></li>
              <li class="one_quarter"><a href="{{path('app_prelogie')}}"><img src="{{asset(Prelogie)}}" alt="Prélogie"></a><h1 class="image-subtitle">Prélogie</h1></li>
              <li class="one_quarter"><a href="{{path('app_troisieme_trilogie')}}"><img src="{{asset(TroisiemeTrilogie)}}" alt="Troisième Trilogie"></a><h1 class="image-subtitle">Troisième Trilogie</h1></li>
              <li class="one_quarter"><a href="{{path('app_films_derives')}}"><img src="{{asset(FilmsDerives)}}" alt="Films Dérivés"></a><h1 class="image-subtitle">Films Dérivés</h1></li>
            </ul>
          </figure>
        </div>
        
      </div>
      
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
{% endblock %}
