{% extends "@App/layout.html.twig" %}

{% block title %}
  Star Wars Experience
{% endblock %}

{% block subnav %}
    <!--**************************Partie header section********************** -->
    <div id="pageintro" class="hoc clear"> 
        
        <article> <!--Texte du header -->
        <p>A long time ago in a galaxy far far away</p>
        <h3 class="heading">Bienvenue dans l'initiation Star Wars</h3>
        </article>
    
    </div>
{% endblock %}

{% block body_content %}


<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    
    <div class="sectiontitle">
      <h6 class="heading">Que vais je trouver sur ce site?</h6>
    </div>
    <article class="group">
      <div class="one_half first">
        <h6 class="heading">C'est ici que tu vas en apprendre plus sur Star Wars </h6>
        <p>Ce site s'adresse à toutes personnes succeptibles de vouloir en apprendre plus sur la license Stars Wars ou toutes personnes qui veulent tester leurs connaissances grâce à la rubrique questionnaire</p>
        <h6 class="heading">En quoi consiste le site exactement?</h6>
        <p>Le site est une sorte d'encyclopédie sur l'univers de Star Wars (bien entendu il n'y a pas tout!!) mais le stricte minimum pour déja avoir une bonne connaissance initiale de la license. Tu vas devoir naviguer dans les différents onglets du site afin de te familiariser avec le contenu présent afin de réaliser comme étape finale (quand tu te sents prêt) le fameux questionnaire STAR WARS INITION!!  </p>
        <p class="btmspace-30">Alors tu es prêt à faire l'initiation? te montrera tu digne? ^^ Montera tu au rang de jedi en réalisant le questionnaire sans fautes? Je ne demande qu'a voir! &hellip;</p>
      </div>
      <div class="one_half"><img src="{{asset('images/alongtimeago.jpg')}}" alt=""></div>
    </article>
    
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

{% endblock %}
