{% extends "@App/layout.html.twig" %}

{% block title %}
 Personnages -  Star Wars Experience
{% endblock %}

{% block subnav %}
  <div id="breadcrumb" class="hoc clear"> 
   
    <ul> <!--Pour savoir où on est sur la page -->
      <li><a href="{{path('app_personnages')}}">Catégorie personnage</a></li>
      <li><a href="#">Choisis ta catégorie: Jedis, Sith ou autres</a></li>
    </ul>
    
  </div>
 
{% endblock %}

{% block body_content %}

  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      
      <div class="content">         
        <div id="gallery"> <!--Mettre les 3 photos : une jedi, une sith, une pour la catégorie autre avec les liens qui vont vers les différentes catégories -->
          <figure>
            <header class="heading">Naviger dans les différentes catégories</header>
            <ul class="nospace clear">
              <li class="one_quarter first"><a href="{{path('app_jedi')}}"><img src="{{asset(jedi)}}" alt="Jedi"></a><h1 class="image-subtitle">Jedi</h1></li>
              <li class="one_quarter"><a href="{{path('app_sith')}}"><img src="{{asset(sith)}}" alt="Sith"></a><h1 class="image-subtitle">Sith</h1></li>
              <li class="one_quarter"><a href="{{path('app_autres')}}"><img src="{{asset(autre)}}" alt="Autre"></a><h1 class="image-subtitle">Autre</h1></li>
            </ul>
          </figure>
        </div>        
      </div>
      
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>

{% endblock %}