{% extends "@App/layout.html.twig" %}

{% block title %}
  Planètes - Star Wars Experience
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block subnav %}

  <div id="breadcrumb" class="hoc clear"> 
   
    <ul> <!--Pour savoir où on est sur la page -->
      <li><a href="#">Les planètes emblématiques dans Star Wars</a></li>
    </ul>
    
  </div>
 
{% endblock %}

{% block body_content %}
  
  

  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      
      <div class="content"> 
        
        <div id="searchdiv">
            <form class="example" method="post">
                <input type="text" placeholder="Recherche..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form> 
        </div>
        
        <div id="gallery"> <!--Mettre les 3 photos : une jedi, une sith, une pour la catégorie autre avec les liens qui vont vers les différentes catégories -->
          <figure>
            
            <ul class="nospace clear"> <!--mettre les photos l'une en dessous de l'autre + description sur le coté -->

              {% for planete in listPlanetes %}
                <h1>{{planete.getNomplanete()}}</h1>
                <li class="one_quarter first right"><img src="{{asset(planete.getUrlimage())}}" alt="{{planete.getNomplanete()}}"></li>
                <p>{{planete.getDescription()}}</p>
                <div class="clear"></div>
                <br>
              {% endfor %}
                
            </ul>
          </figure>
        </div>
        
      </div>
      
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
{% endblock %}
