{% extends "@App/layout.html.twig" %}

{% block stylesheets %}
<link href="{{asset('style/quizz.css')}}" rel="stylesheet" type="text/css" media="all">

{% endblock %}

{% block title %}
  Questionnaire - Star Wars Experience
{% endblock %}

{% block body_content %}
    <!--Questionnaire code ici-->
    
    <form method="POST">
        <div class="privew">
            <div class="questionsBox">
                <div class="questions">{{question.getIntitulequestion()}}</div>
                    <div class="funkyradio">

                            {% set i = 1 %}
                            {% for reponse in question.getReponses() %}
                                <div class="funkyradio-success">
                                    <input type="radio" name="radio" id="radio{{i}}" value="{{reponse.getIdreponse()}}" required/>
                                    <label for="radio{{i}}">{{reponse.getIntitulereponse()}}</label>
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}
                        
                    </div>  

                <div class="questionsRow">
                    <button type="submit" class="button" id="nextquestions">Question suivante</button>
                    <span>{{questionNumber}}/20</span>
                </div>

            </div>
        </div>
    </form>

{% endblock %}


