{% extends "@App/layout.html.twig" %}

{% block stylesheets %}
<link href="{{asset('style/quizz.css')}}" rel="stylesheet" type="text/css" media="all">

{% endblock %}

{% block title %}
  Resultats - Star Wars Experience
{% endblock %}

{% block body_content %}
   

<div class="privew">
    Ton résultat mon coco : {{test.getResultat()}}/20
    <br/>

    {% set questionNb = 1 %}
    {% for testsreponse in test.getTestsreponses() %}
        <div class="questionsBox">
            <div class="questions">{{testsreponse.getReponse().getQuestion().getIntitulequestion()}}</div>
                <div class="funkyradio">

                        {% set i = 1 %}
                        {% for reponse in testsreponse.getReponse().getQuestion().getReponses() %}
                            {% if reponse.getBonnereponse() == true %}
                                <div class="funkyradio-success">
                            {% else %}
                                <div class="funkyradio-danger">  
                            {% endif %}
                                    <input type="radio" name="radio{{questionNb}}" id="radio{{i}}" value="" {% if reponse.getIdreponse() == testsreponse.getReponse().getIdreponse() %}checked{% endif %}/>
                                    <label for="radio{{i}}">{{reponse.getIntitulereponse()}}</label>
                                </div>

                            {% set i = i + 1 %}
                        {% endfor %}
                    
                </div>  

            <div class="questionsRow">
                <span>{{questionNb}}/20</span>
            </div>

        </div>
        {% set questionNb = questionNb + 1 %}
    {% endfor %}
</div>
    
{% endblock %}


