{% extends "@App/layout.html.twig" %}

{% block stylesheets %}
<link href="{{asset('style/quizz.css')}}" rel="stylesheet" type="text/css" media="all">

{% endblock %}

{% block title %}
  Resultats - Star Wars Experience
{% endblock %}

{% block body_content %}
   

<div class="privew">
    <br/>
    <h3>
        &nbsp;&nbsp;&nbsp;&nbsp;Ton résultat : {{test.getResultat()}}/20
    </h3>
    {% if test.getResultat() <= 10 %}
        &nbsp;&nbsp;&nbsp;&nbsp;Il faudrait revoir tes classiques, je suis sûr que tu peux faire mieux
    {% elseif test.getResultat() > 10 and test.getResultat() <= 14 %}
        &nbsp;&nbsp;&nbsp;&nbsp;Tu peux encore t’améliorer mais la force commence à être avec toi
    {% elseif test.getResultat() > 14 and test.getResultat() <= 17 %}
        &nbsp;&nbsp;&nbsp;&nbsp;Tu as bien appris jeune apprenti
    {% else %}
        &nbsp;&nbsp;&nbsp;&nbsp;Tu es un jedi mon jeune apprenti !
    {% endif %}

    {% set questionNb = 1 %}
    {% for testsreponse in test.getTestsreponses() %}
        <div class="questionsBox">
            <div class="questions">{{testsreponse.getReponse().getQuestion().getIntitulequestion()}}</div>
                <div class="funkyradio">

                        {% set i = 1 %}
                        {% for reponse in testsreponse.getReponse().getQuestion().getReponses() %}
                            {% if reponse.getBonnereponse() == true %}
                                <div class="funkyradio-success">
                            {% else %}
                                <div class="funkyradio-danger">  
                            {% endif %}
                                    <input type="radio" name="radio{{questionNb}}" id="radio{{i}}" value="" {% if reponse.getIdreponse() == testsreponse.getReponse().getIdreponse() %}checked{% endif %}/>
                                    <label for="radio{{i}}">{{reponse.getIntitulereponse()}}</label>
                                </div>

                            {% set i = i + 1 %}
                        {% endfor %}
                    
                </div>  

            <div class="questionsRow">
                <span>{{questionNb}}/20</span>
                <br/>
            </div>

        </div>
        {% set questionNb = questionNb + 1 %}
    {% endfor %}
</div>
    
{% endblock %}


