{% extends "@App/layout.html.twig" %}

{% block title %}
  S'inscrire - Star Wars Experience
{% endblock %}

{% block body_content %}
    <!--Code html pour s'inscrire -->
    <div class="margin">
        <div id="comments">
            <br>
            <br>
            <h2><a>Bienvenue jeune padawan inscris toi pour commencer l'aventure</a></h2>

                {{ form_start(form) }}
                    <div class="one_third first">
                        {{ form_row(form.prenom) }}
                    </div>
                    <div class="one_third first">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="one_third first">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="one_third first">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="one_third first">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                    <div class="clear"></div>
                    <div>
                        <button type="submit">S'inscrire!</button>
                    </div>
                    
                {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
    
    
    
    
    