{% extends "@App/layout.html.twig" %}

{% block title %}
{{temporalite}} - Star Wars Experience
{% endblock %}

{% block subnav %}
  <div id="breadcrumb" class="hoc clear"> 
   
   <ul> <!--Pour savoir où on est sur la page -->
      <li><a href="{{path('app_films')}}">Catégorie de films</a></li>
      <li><a href="#">Catégorie: {{temporalite}}</a></li>
    </ul>
    
  </div>
 
{% endblock %}

{% block body_content %}
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      
      <div class="content"> 
        <div id="searchdiv">
            <form class="example" method="post">
                <input type="text" placeholder="Recherche..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form> 
        </div>
        
        <div id="gallery"> <!--Mettre les 3 photos : une jedi, une sith, une pour la catégorie autre avec les liens qui vont vers les différentes catégories -->
          <figure>
            
            <ul class="nospace clear">
              {% for film in listFilms %}
              <h1>{{film.getNomfilm()}}</h1>
              <li class="one_quarter first right"><img src="{{asset(film.getUrlimage())}}" alt="{{film.getNomfilm()}}"></li>
              <p>{{film.getSynopsis()}}</p>
              <div class="clear"></div>
              <br>
                {% endfor %}
                
            </ul>
          </figure>
        </div>
        
      </div>
      
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>

{% endblock %}

