{% extends "@App/layout.html.twig" %}

{% block title %}
  {{type}} - Star Wars Experience
{% endblock %}

{% block subnav %}

  <div id="breadcrumb" class="hoc clear"> 
   
    <ul> <!--Pour savoir où on est sur la page -->
      <li><a href="{{path('app_personnages')}}">Personnage</a></li>
      <li><a href="#">{{type}}</a></li>
    </ul>
    
  </div>
{% endblock %}

{% block body_content %}

  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      
      <div class="content"> 
        <div id="searchdiv">
            <form class="example" method="post">
                <input type="text" placeholder="Recherche..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form> 
        </div>
        
        <div id="gallery"> 
          <figure>
            
                <ul class="nospace clear"> <!--mettre les photos l'une en dessous de l'autre + description sur le coté -->

                  {% for personnage in listPersonnages %}
                <h1>{{personnage.getNom()}}</h1>
                <li class="one_quarter first right"><img src="{{asset(personnage.getUrlimage())}}" alt="{{personnage.getNom()}}"></li>
                <p>{{personnage.getDescription()}}</p>
                <div class="clear"></div>
                <br>
                  {% endfor %}

          </figure>
        </div>
        
      </div>
      
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
{% endblock %}

